<div class="image-wrapper">
  <picture>
    <source
      type="image/avif"
      srcset="/images/me-sm.avif 232w,
            /images/me-md.avif 463w,
            /images/me-lg.avif 926w"
      sizes="(min-width: 36rem) 50vh, 10rem"
    />
    <source
      type="image/webp"
      srcset="/images/me-sm.webp 232w,
            /images/me-md.webp 463w,
            /images/me-lg.webp 926w"
      sizes="(min-width: 36rem) 50vh, 10rem"
    />
    <img
      class="me"
      sizes="(min-width: 36rem) 50vh, 10rem"
      decoding="async"
      loading="eager"
      src="/images/me-lg.jpg"
      srcset="/images/me-sm.jpg 232w,
            /images/me-md.jpg 463w,
            /images/me-lg.jpg 926w"
      alt="Adrian Osmond"
    />
  </picture>
</div>
<h1 class="welcome">
  <span class="welcome__hello">Hello!</span>
  <br />
  <span class="welcome__name">I'm Adrian Osmond,</span>
  <br />
  <span class="welcome__job">a front-end developer.</span>
</h1>

<style>
  :root {
    --photo-height: 19rem;
  }

  .image-wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--photo-height);
  }

  .me {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    aspect-ratio: 926 / 1880;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMCAMAAAB2iTwcAAAAclBMVEX39/f////7/PsMMFn5+fkLMl51UkKHVUF8UTzn5uXZ2dnR0dHLyMfBw8essLe5t7WTorF4kaWxn5lqgJdhcYaNhYC7kHvNjnqKenQdQWy3fWsPOWiveGCjcl6BaV1rWlidZlYFKVUaNVSCX1IGJ01kTkaZAMOSAAAARElEQVQIHQXBhQHAMAzAMDfFMTPT/y9OoogF4PlSAQbfKWAOowJOXytgc5EAYRcDrC5TBvrjLjEk7WsbyCdtNVR60Rc/dQsC9HfaDQoAAAAASUVORK5CYII=");
    background-size: cover;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 1.25rem 1rem 1.25rem 5rem;
    min-height: calc(var(--photo-height) - var(--nav-height));
    line-height: 1;
  }

  .welcome__hello {
    font-size: 2em;
  }

  .welcome__name {
    margin-left: 9vw;
  }

  .welcome__job {
    margin-left: 18vw;
  }

  @media (min-width: 36em) {
    :root {
      --photo-height: 100vh;
      --welcome-padding: calc(5vh + 2vw);
    }

    .welcome {
      padding-left: 0;
      padding-top: var(--welcome-padding);
      padding-bottom: calc(2 * var(--welcome-padding));
      padding-left: 12.5rem;
      padding-right: 2rem;
      font-size: 3rem;
    }

    .welcome::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0
        calc(100vw + var(--nav-triangle-size) - var(--content-triangle-size))
        calc(100vw + var(--nav-triangle-size) - var(--content-triangle-size));
      border-color: transparent transparent var(--color-white) transparent;
    }
  }

  @media (min-width: 60em) {
    .welcome {
      position: relative;
      padding-left: 40vh;
      font-size: 4rem;
    }

    .welcome__name {
      margin-left: 10vw;
    }

    .welcome__job {
      margin-left: 20vw;
    }
  }
</style>
