//VARIABLES

$emphasis-colour: #ab3327;
$background-colour: #F7f7f7;
$text-colour: #333;
$homepage-background-colour: #22212d;
$homepage-text-colour: #ccc;
$homepage-emphasis-colour: #ff7f00;
$font-family-headings: "Open Sans", Helvetica, Arial, sans-serif;
$font-family-teaser: Georgia,Cambria,"Times New Roman",Times,serif;
$font-family-body: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size-small: 16px;
$base-font-size-heading: 2em;
$line-height: 1.5;
$heading-colour: #000;
$divider-colour: rgba(0, 0, 0, 0.1);
$homepage-divider-colour: rgba(255, 255, 255, 0.1);
$transition-time: 0.3s;
$blur-amount-small: 5px;
$blur-amount-medium: 10px;
$blur-amount-large: 15px;