@import "_vars";

//HOMEPAGE STYLES
.homepage {
	header {
		transform: translateY(-150%);
		transition: transform $transition-time 0s, visibility 0s $transition-time;
	}
	.header-image {
		path {
			fill: $homepage-text-colour;
		}
	}
	.header-link {
		border-bottom-color: $homepage-divider-colour;
	}
	.header-text {
		color: $homepage-text-colour;
	}
}
.show-articles {
	header {
		transform: translateY(0);
		transition-delay: (2 * $transition-time), 0s;
		visibility: visible;
	}
}
.show-picture {
	overflow: hidden;
}
.ao-pic {
	.page-loaded & {
		&:before {
			@media (orientation: landscape) and (min-height: 300px) {
				background-image: url('../images/ao-300.jpg');
			}
			@media (orientation: landscape) and (min-height: 500px) {
				background-image: url('../images/ao-500.jpg');
			}
			@media (orientation: landscape) and (min-height: 750px) {
				background-image: url('../images/ao-750.jpg');
			}
			@media (orientation: landscape) and (min-height: 1000px) {
				background-image: url('../images/ao-1000.jpg');
			}
			@media (orientation: landscape) and (min-height: 1800px) {
				background-image: url('../images/ao-1800.jpg');
			}
			@media (orientation: portrait) and (min-width: 300px) {
				background-image: url('../images/ao-300.jpg');
			}
			@media (orientation: portrait) and (min-width: 500px) {
				background-image: url('../images/ao-500.jpg');
			}
			@media (orientation: portrait) and (min-width: 750px) {
				background-image: url('../images/ao-750.jpg');
			}
			@media (orientation: portrait) and (min-width: 1000px) {
				background-image: url('../images/ao-1000.jpg');
			}
			@media (orientation: portrait) and (min-width: 1800px) {
				background-image: url('../images/ao-1800.jpg');
			}
		}
	}
	.show-picture & {
		&:before {
			opacity: 1;
		}
		&:after {
			opacity: 0;
		}
	}
}
.ao-svg-holder {
	position: fixed;
	bottom: 0;
	width: 100vmin;
	height: 100vmin;
	left: 50%;
	margin-left: -50vmin;
	z-index: -1;
	display: none;
	opacity: 0;
	transition: opacity $transition-time;
	> svg {
		position: absolute;
		top: 0;
	}
	.show-picture & {
		opacity: 1;
	}
	.ao-svg-processed & {
		display: block;
	}
}
.intro {
	.page-loaded & {
		transition: transform (2 * $transition-time) $transition-time, visibility 0s $transition-time;
	}
	transform: translateY(-2em);
	margin-bottom: -2em;
	visibility: visible;
	.show-articles & {
		transition-delay: 0s, 0s;
		transform: translateY(-125%);
		visibility: hidden;
	}
	.show-picture & {
		visibility: hidden;
	}
}
.move-text-up,
.move-text-down {
	visibility: visible;
	transition: transform $transition-time 0s, visibility 0s 0s;
	.show-picture &,
	.show-articles & {
		transition-delay: 0s, $transition-time;
		visibility: hidden;
	}
}
.move-text-up {
	.show-picture & {
		transform: translateY(-130%);
	}
}
.move-text-down {
	.show-picture & {
		transform: translateY(300%);
	}
}
.statement {
	transition: transform (2 * $transition-time), text-shadow $transition-time, color 0s $transition-time;
	text-shadow: 0 0 0 $homepage-text-colour;
	.show-social & {
		transition-delay: 0s, 0s, 0s;
		transform: translateX(76px);
		text-shadow: 0 0 $blur-amount-small $homepage-text-colour;
		color: transparent;
		pointer-events: none;
	}
}
.emphasis {
	transition: transform (2 * $transition-time), text-shadow $transition-time, color 0s $transition-time;
	text-shadow: 0 0 0 $homepage-emphasis-colour;
	.show-social & {
		transition-delay: 0s, 0s, 0s;
		text-shadow: 0 0 $blur-amount-small $homepage-emphasis-colour;
		color: transparent;
	}
}
.close-ao-pic {
	display: none;
	position: fixed;
	background-color: $homepage-background-colour;
	border: 0;
	top: 0;
	right: 0;
	width: 2em;
	height: 2em;
	padding: 0;
	font-size: 2em;
	font-family: $font-family-body;
	text-align: center;
	cursor: pointer;
	outline: 0;
	font-weight: 300;
	.cross {
		transition: transform $transition-time;
	}
	&:focus,
	&:hover {
		.cross {
			transform: rotateZ(180deg);
			&:before,
			&:after {
				background-color: $homepage-emphasis-colour;
			}
		}
	}
	.show-picture & {
		display: block;
	}
}
.social-media-statement,
.article-statement {
	outline: 0;
}
.social-media-icons {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 64px;
	outline: 0;
	transition: transform (2 * $transition-time) 0s, visibility 0s (3 * $transition-time);
	transform: translateX(-64px);
	top: 0;
	.show-social & {
		visibility: visible;
		transition-delay: 0s, 0s;
		transform: translateX(0);
	}
}

.social-media-icon {
	height: 64px;
	width: 64px;
	display: block;
	transition: opacity $transition-time, transform $transition-time;
	opacity: 0;
	transform: scale(0.75);
	position: relative;
	font-weight: 300;
	$num-icons: 3;
	@for $i from 1 through $num-icons {
		&:nth-child(#{$i}) {
			transition-delay: ($num-icons - ($i - 1)) * $transition-time / ($num-icons + 1), ($num-icons - ($i - 1)) * $transition-time / ($num-icons + 1);
		}
	}
	&:last-child {
		transition-delay: 0s;
	}
	.show-social & {
		opacity: 1;
		transform: scale(1);
		@for $i from 1 through $num-icons {
			&:nth-child(#{$i}) {
				transition-delay: ($i - 1) * $transition-time / ($num-icons + 1), ($i - 1) * $transition-time / ($num-icons + 1);
			}
		}
		&:last-child {
			transition-delay: 3 * $transition-time;
		}
	}
	path {
		stroke: $homepage-text-colour;
	}
	&:hover,
	&:focus {
		outline: 0;
		border: 0;
		background-color: rgba($homepage-background-colour, 0.75);
		.social-media-name {
			transform: rotateY(0);				
			opacity: 1;
			background-color: rgba($homepage-background-colour, 0.75);
		}
	}
}
.social-media-name {
	opacity: 0;
	transition: opacity $transition-time, transform $transition-time;
	transform: rotateY(90deg);
	transform-origin: 0 50%;
	text-shadow: 0 0 5px $homepage-background-colour;
	position: absolute;
	height: 64px;
	padding: 16px;
	left: 100%;
	color: $homepage-text-colour;
	top: 0;
	white-space: nowrap;
	// font-size: $base-font-size-large;
	font-family: $font-family-body;
	font-size: 20px;
}
.close-social {
	position: relative;
}
.cross {
	&:before,
	&:after {
		content: "";
		display: block;
		background-color: $homepage-text-colour;
		width: 3px;
		height: 35px;
		position: absolute;
		top: 15px;
		left: 31px;
	}
	&:before {
		transform: rotateZ(45deg);
	}
	&:after {
		transform: rotateZ(135deg);
	}
}
.close-social {
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
	padding: 0;
	transform: scale(0.75) rotateZ(180deg);
	.show-social & {
		transform: scale(1) rotateZ(0deg);
	}
	&:hover,
	&:focus {
		.social-media-name {
			.show-social & {
				visibility: visible;
			}
		}
	}
	//hide text for when it spins away
	.social-media-name {
		visibility: hidden;
	}
}
.article-teasers {
	margin: -100em 0;
	transition: visibility 0s, margin-top 0s;
	transition-delay: (3 * $transition-time), (3 * $transition-time);
	.show-articles & {
		visibility: visible;
		margin: 0;
		transition-delay: 0s, 0s;
	}
	article {
		transition: opacity $transition-time;
		opacity: 0;
		border-bottom: 1px solid $homepage-divider-colour;
		.show-articles & {
			opacity: 1;
		}
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				transition-delay: ((1 * $transition-time) + (($i - 1) * 0.1));
			}
		}
	}
}
.article-link {
	font-size: 0.75em;
	display: block;
	padding: 1em;
	text-decoration: none;
	color: $homepage-text-colour;
	border: 1px solid transparent;
	&:hover,
	&:focus {
		background-color: mix($homepage-background-colour, $homepage-text-colour, 98%);
	}
	&:focus {
		border: 1px dotted $homepage-emphasis-colour;
		outline: 0;
	}
	h1 {
		color: $homepage-emphasis-colour;
		margin: 0;
		font-size: 2em;
	}
	.article-summary {
		margin: 0.5em 0;	
	}
}
.back-to-home {
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin: 1em;
	&:focus,
	&:hover {
		margin: 1em;
	}
}
.article-date {
	font-size: 0.8em;
}

//MEDIA QUERIES
@media screen and (min-width: 25em) {
	.social-media-icons {
		transform: translateX(-48px);
	}
}
@media screen and (min-width: 36em) {
	//UNIVERSAL
	body {
		line-height: 1.75;
	}
	p {
		margin: 1.5em 0;
	}
	//HOMEPAGE
	.intro {
		font-size: 1.2em;
	}
	.show-social {
		.statement {
			text-shadow: 0 0 $blur-amount-medium $homepage-text-colour;
		}
		.emphasis {
			text-shadow: 0 0 $blur-amount-medium $homepage-emphasis-colour;
		}
	}
}
@media screen and (min-width: 41em) {
	//UNIVERSAL
	body {
		font-size: 1.125em;
	}
	h1 {
		font-size: 1.125 * $base-font-size-heading;	
	}
	.close-ao-pic {
		.cross {
			&:before,
			&:after {
				top: 0.5em;
				left: 1em;
			}
		}
	}
}
@media screen and (min-width: 46em) {
	//UNIVERSAL
	body {
		font-size: 1.25em;
	}
	h1 {
		font-size: 1.25 * $base-font-size-heading;	
	}
	//HOMEPAGE
	.show-social {
		.statement {
			text-shadow: 0 0 $blur-amount-large $homepage-text-colour;
		}
		.emphasis {
			text-shadow: 0 0 $blur-amount-large $homepage-emphasis-colour;
		}
	}
	.close-ao-pic {
		.cross {
			&:before,
			&:after {
				height: 40px;
			}
		}
	}
}
@media screen and (min-width: 50em) {
	//UNIVERSAL
	body {
		font-size: 1.375em;
	}
	h1 {
		font-size: 1.375 * $base-font-size-heading;	
	}//HOMEPAGE
	.intro {
		font-size: 1.3em;
	}
	.close-ao-pic {
		.cross {
			&:before,
			&:after {
				top: 0.4em;
				height: 50px;
			}
		}
	}
}
@media screen and (min-width: 55em) {
	//UNIVERSAL
	body {
		font-size: 1.5em;
	}
	h1 {
		font-size: 1.5 * $base-font-size-heading;	
	}
	//HOMEPAGE
	.close-ao-pic {
		.cross {
			&:before,
			&:after {
				height: 60px;
			}
		}
	}
}