@import "critical";
.homepage {
	background-color: #fff;
	color: $homepage-text-colour;
	header {
		visibility: hidden;
	}
}
.ao-pic {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/ao-100.jpg');
	background-position: 50% 100%;
	background-size: contain;
	background-repeat: no-repeat;
	&:before,
	&:after {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: opacity (3 * $transition-time);
	}
	&:before {
		background-position: 50% 100%;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0;
	}
	&:after {
		background-color: $homepage-background-colour;
		opacity: 0.95;
		transition: opacity (3 * $transition-time);
		height: 100%;
		.show-articles & {
			opacity: 1;
		}
	}
}
.intro {
	position: absolute;
}
.emphasis {
	color: $homepage-emphasis-colour;
}
.giant-text {
	font-size: 2.5em;
	margin: 0.5em 0;
}
.medium-text {
	font-size: 1.25em;
	margin: 1em 0;
}
.click-action {
	margin: 0;
	display: inline;
	font-family: $font-family-body;
	text-decoration: none;
	border: 0;
	border-bottom: 1px dashed;
	background-color: transparent;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
	outline: 0;
	white-space: nowrap;
	&:focus,
	&:hover {
		margin: -1px -1px 0 -1px;
		border: 1px dashed;
	}
}
.social-media-icons {
	visibility: hidden;
}
.article-teasers {
	visibility: hidden;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
//MEDIA QUERIES
@media screen and (min-width: 25em) {
	//HOMEPAGE
	.intro {
		max-width: 22em;
		left: 50%;
		margin-left: -11em;
	}
}
@media screen and (min-width: 36em) {
	//UNIVERSAL
	body {
		line-height: 1.75;
	}
	p {
		margin: 1.5em 0;
	}
	//HOMEPAGE
	.intro {
		font-size: 1.2em;
	}
}
@media screen and (min-width: 50em) {
	.intro {
		font-size: 1.3em;
	}
}