
:root {
  --photo-height: 19rem;
}

.me {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: auto;
  max-height: var(--photo-height);
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 1.25rem 1rem 1.25rem 5rem;
  min-height: calc(var(--photo-height) - var(--nav-height));
  line-height: 1;
}

.welcome__hello {
  font-size: 2em;
}

.welcome__name {
  margin-left: 9vw;
}

.welcome__job {
  margin-left: 18vw;
}

@media (min-width: 36em) {
  :root {
    --photo-height: 100vh;
    --welcome-padding: calc(5vh + 2vw);
  }

  .welcome {
    padding-left: 0;
    padding-top: var(--welcome-padding);
    padding-bottom: var(--welcome-padding);
    padding-left: 12.5rem;
    padding-right: 2rem;
    font-size: 3rem;
    min-height: calc(var(--photo-height) - 2 * var(--welcome-padding) - var(--nav-height));
  }

  .welcome::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 calc(100vw + var(--nav-triangle-size) - var(--content-triangle-size)) calc(100vw + var(--nav-triangle-size) - var(--content-triangle-size));
    border-color: transparent transparent var(--color-white) transparent;
  }
}

@media (min-width: 60em) {
  .welcome {
    position: relative;
    padding-left: 40vh;
    font-size: 4rem;
  }

  .welcome__name {
    margin-left: 10vw;
  }

  .welcome__job {
    margin-left: 20vw;
  }
}
