---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>The personal site of Adrian Osmond - adrianosmond.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="This is the personal site of front-end developer Adrian Osmond, where you can find out about me and my work."
    />
    <link
      rel="preload"
      href="/fonts/PlayfairDisplay.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/AlegreyaSans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    {/* <!-- Google / Search Engine Tags --> */}
    <meta
      itemprop="name"
      content="The personal site of Adrian Osmond - adrianosmond.com"
    />
    <meta
      itemprop="description"
      content="This is the personal site of front-end developer Adrian Osmond, where you can find out about me and my work."
    />
    <meta itemprop="image" content="/images/me-500.jpg" />

    {/* <!-- Google / Search Engine Tags --> */}
    <meta property="og:url" content="http://adrianosmond.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="The personal site of Adrian Osmond - adrianosmond.com"
    />
    <meta
      property="og:description"
      content="This is the personal site of front-end developer Adrian Osmond, where you can find out about me and my work."
    />
    <meta property="og:image" content="/images/me-500.jpg" />

    {/* <!-- Google / Search Engine Tags --> */}
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="The personal site of Adrian Osmond - adrianosmond.com"
    />
    <meta
      name="twitter:description"
      content="This is the personal site of front-end developer Adrian Osmond, where you can find out about me and my work."
    />
    <meta name="twitter:image" content="/images/me-500.jpg" />
  </head>
  <body>
    <Header />
    <Nav />
    <article class="container">
      <div class="content">
        <slot />
      </div>
    </article>
    <slot name="footer" />
  </body>
</html>

<style>
  .container {
    background-color: var(--color-white);
    padding: 1rem;
  }

  .content {
    position: relative;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 36em) {
    :root {
      --content-triangle-size: 28rem;
    }

    .container {
      padding: 1rem 2rem;
    }

    .content {
      font-size: 1.25rem;
    }
  }

  @media (min-width: 60em) {
    .content {
      max-width: 45rem;
    }

    .container {
      position: relative;
      margin-top: var(--content-triangle-size);
      background-color: var(--color-white);
    }

    .container::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: calc(-1 * var(--content-triangle-size));
      left: calc(-1 * var(--content-triangle-size));
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 var(--content-triangle-size)
        var(--content-triangle-size);
      border-color: transparent transparent var(--color-white) transparent;
      margin-left: var(--content-triangle-size);
    }

    .container::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: calc(-1 * var(--content-triangle-size));
      left: var(--content-triangle-size);
      right: 0;
      height: var(--content-triangle-size);
      background-color: var(--color-white);
    }

    .content {
      font-size: 1.5rem;
      margin-top: calc(-1 * var(--content-triangle-size) - 1rem);
    }
  }
</style>
